/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Dancing+Script:wght@400..700&family=Qwitcher+Grypen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(0deg, hsl(149, 36%, 52%), hwb(0 100% 0%), hwb(0 100% 0%), hwb(23 24% 4%));
    height: 100vh; */
    /* font-weight: 500; */
}

/* body {
    margin: 0;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
} */

html {  
    scroll-behavior: smooth;
}

p { 
    color: rgb(85, 85, 85);
}

/* TRANSITION */

a, .btn {   
    transition: all 300ms ease;
}

/* DESKTOP NAVIGATION */

.logo {
    
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
}

nav, .nav-links {
    display: flex;
    
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    background: linear-gradient(180deg, hsla(119, 45%, 31%, 0.829), hwb(0 100% 0%), hwb(0 100% 0%));
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span { 
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all o.3 ease-in-out;
}

.menu-links {
    font-family: "Cinzel", serif;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all o.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    /* font-family: "Cinzel", serif;
    font-optical-sizing: auto; */
    color: black;
    text-decoration: none;
    transition: all o.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:first-child {
    opacity: 1;
}
.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    position: relative;
    
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    animation: fadeOut 3s infinite;
}

.section__pic-container {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto 0;
    margin-right: 100px;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;

}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.title1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
}
.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#social-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    transition: transform 0.3s ease-in-out;
    
}

.icon:hover {
    transform: scale(1.5);
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
}
.btn-color-1:hover,
.btn-color-2:hover {
    background: hsla(119, 45%, 31%, 0.829);
    color: white;
}

.btn-color-1:hover {
    background: hsla(119, 45%, 31%, 0.829);
}

.btn-color-2 {
    background: none;
}

.btn-color-1:hover,
.btn-color-2:hover {
    border: rgb(255, 255, 255);
}

.btn-container {
    gap: 1rem;
}

/* ABOUT SECTION */

#about {
     position: relative;
}
.about-container1 {
    gap: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-container {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;

}


.about-container, .about-details-container {
    display: flex;
}

.laboratory {
    font-weight: 300;
}

.subscript {
            font-size: 0.85em; /* Smaller font for subscripts */
            vertical-align: sub; /* Aligns to subscript */
}

.details-container {
    padding: 1.5rem;
    margin: auto;
}

.medal-font {
    font-size: 0.75em;
}

.tenure {
    font-family: "Cinzel", serif;
    font-weight: 200;
} 

.about-pic {
    border-radius: 2rem;
    height: 700px;
    width: 1400px;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

/* .thesis {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto; ;
} */

/* .arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
} */

/* ACADEMICS SECTION */
/* #academics {
    position: relative;
} */

.experience-sub-title {
    color: rgb(85,85,85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article {
    display: flex;
    width: 10rem;
    justify-content: safe;
    gap: 0.5rem;
}

article.icon {
    cursor: default;
}

.details-container1 {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.details-container1:hover {
    transform: translate(0px, -30px);
}



#publications {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    position: relative;
}

.publication {
    background-color: white;
    border: seagreen 0.1rem solid;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* max-width: 600px; */
    margin: 0 auto;
    margin-bottom: 1rem;
}
h21 {
    color: #5122af;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
p1 {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    

}
.doi a {
    color: #e74c3c;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    position: relative;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    background: rgb(250, 250, 250);
    margin: 2em auto;
    padding: 0.5rem;

}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;

}

.contact-icon {
    cursor: default;
    /* height: 2rem; */
}

.email-icon {
    height: 2.5rem;
}

footer {
    height: 8vh;
    /* margin: 0.1rem; */
    background: linear-gradient(0deg, hsla(119, 45%, 31%, 0.829), hwb(0 100% 0%), hwb(0 100% 0%));;
    position: relative;
    
}

/* footer {
    background-color: #333;
    color: white;
    text-align: center;
    
} */

footer p {
    text-align: center;
    bottom: 0;

}
